.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: #ECECF9;
    padding: 24px;
    width: 240px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 9px 0;
    text-align: center;
    color: #2D2E46;
}

.select_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.select_container > :first-child {
    border-radius: 4px 0 0 4px;
}

.select_container > :last-child {
    border-radius: 0 4px 4px 0;
}

.select {
    cursor: pointer;
    color: #2D2E46;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 30px;
    width: 50%;
    background: white;
}
.selected {
    background: #21268F;
    color: white;
}
.doubleRangeContainer {
    text-align: center;
}