.loginFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    width: 60vh;
    border: 1px solid rgba(59, 59, 98, 0.52);
}

.infoMessage.noMessage {
    display: none;
}
.infoMessage.succesMessage {
    color: gray;
}
.infoMessage.errorMessage {
    color: tomato;
}