.headerNavigatorContainer{
    width: 100%;
    background: #EBE0E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerNavigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 70%;
}

.headerNavigatorLeft {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNavigatorRight {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    color: black;
    height: 100%;
    padding: 0 20px 0 20px;
    border: none;
    background: none;
    cursor: pointer;
}
.navLink:hover {
    background: #DCCCDB;
}
.logo {
    font-family: Poppins;
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: black;
}
.active {
    background-color: #DCCCDB;
    border-bottom: 3px solid #21268f;
}
.image {
    height: 40%;
    width: 40%;
    margin-right: 5px;
}