.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.active {
    transform: scale(1);
}

.content {
    background: white;
    border-radius: 15px;
}